<app-header></app-header>
<mat-card>
    <mat-tab-group >
        <mat-tab label="Reported">
            <app-reported></app-reported>
        </mat-tab>
        <mat-tab label="Incidences">
            <app-incidences></app-incidences>
        </mat-tab>
        <mat-tab label="Contacts">
            <app-contacts></app-contacts>
        </mat-tab>
        <mat-tab label="Advice">
            <app-advice></app-advice>
        </mat-tab>
        <mat-tab label="Admins">
            <app-admins></app-admins>
        </mat-tab>

    </mat-tab-group>
</mat-card>

<app-footer></app-footer>